{% load static %}

<!-- <link rel="shortcut icon" type="image/png" href="{% static 'icons/cAi.png' %}"> -->
<!-- Navbar--> 
<style>
  nav {
    background-color: #333333;
  }
  .search-form {
    border-radius: 30px 0 0 30px;
    padding: 5px 5px 5px 15px;
  }

  .input-group input[type="search"]{
    width:25vw;
    background-color: transparent;
  }

  .input-group input[type="search"]:focus{
    opacity: 2;
    width:30vw;
  }

  .input-group-btn {
    max-width:38px;
  }

  #search {
    color: #fff;
    border: 0.5px;
    border: 1px solid #4d4d4d;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }

  .search-btn {
    color:#fff;
    border: 1px solid #4d4d4d;
    border-radius: 0 30px 30px 0; 
    height: 100%;
    cursor: pointer;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="/">
        <img
          src="{% static '/icons/chimedai.png' %}"
          height="20"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: 2px;"
        />
      </a>
    </div>
    <!-- Left elements -->
    <form class='form-inline' method="POST" enctype="multipart/form-data" action="{% url 'search_recommandation'  %}">
      <div class="input-group">
        {% csrf_token %}
        <input type='search' id='search' name="search" class="search-form" placeholder="Please enter your question here..." style="min-width:250px;">
        <span class="input-group-btn" style="width:39px">
          <button id="search-this" type="submit" class="pull-right btn btn-default search-btn">
              <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    
    <!-- Center elements -->
     <!-- Search form -->

    <!-- Center elements -->
 
    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->

      <!-- <a class="link-secondary me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a> -->

      <!-- Notifications -->

      <!-- Avatar -->
      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{% static 'icons/user-login.png' %}"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
          {% if user.is_authenticated %}
            {% if user.role == user.professor %}
            <li>
              <a class="dropdown-item" href="../">Home</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'prof_channels' %}">Your channel</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="#">View Video</a>
           </li>   
            {% endif %}
          {% else %}
          <li>
            <a class ="dropdown-item" href="../loginpage/">Sign In</a>
          </li>
          <li>
            <a class ="dropdown-item" href="../register/">Sign Up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  
  </div>
</nav>
<!-- Navbar -->