*, *::after, *::before {
    box-sizing: border-box;
  }
  
  :root {
    --handle-size: 3rem;
    --img-gap: .25rem;
  }
  
  body {
    margin: 0;
  }
  
  .col-group {
    margin-bottom: 30px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
  .slider {
    --items-per-screen: 6;
    --slider-index:0;
    display:flex;
    flex-grow: 1;
    margin: 0 var(--img-gap);
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
  }
  
  .snip1577 {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    position: relative;
    display: flex;
  }
  
  .snip1577 > img {
    width: 100%;
    aspect-ratio: 16 / 10;
    padding: var(--img-gap);
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .snip1577 figcaption{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 20px;
  }
  
  .snip1577 *,
  .snip1577::before,
  .snip1577::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .snip1577 h3,
  .snip1577 h4 {
    margin: 0;
    font-size: 1.1em;
    font-weight: normal;
    opacity: 0;
  }
  
  .snip1577 h3 {
    font-size: .8em;
    text-transform: uppercase;
  }
  
  .snip1577 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .snip1577:hover img,
  .snip1577.hover img{
    zoom:1;
    filter: alpha(opacity=20);
    -webkit-opacity: 0.2;
    opacity: 0.2;
  }
  
  .snip1577:hover:before,
  .snip1577.hover:before,
  .snip1577:hover:after,
  .snip1577.hover:after {
    opacity: 1;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  
  .snip1577::before,
  .snip1577::after {
    position: absolute;
    top: 20px;
    right: 20px;
    content: '';
    background-color: #fff;
    z-index: 1;
    opacity: 0;
  }
  
  .snip1577:before {
    width: 0;
    height: 1px;
  }
  
  .snip1577:after {
    height: 0;
    width: 1px;
  }
  
  .snip1577:hover:before,
  .snip1577.hover:before {
    width: 40px;
  }
  
  .snip1577:hover:after,
  .snip1577.hover:after {
    height: 40px;
  }
  
  .snip1577:hover h3,
  .snip1577.hover h3,
  .snip1577:hover h4,
  .snip1577.hover h4 {
    opacity: 1;
  }
  
  .snip1577:hover h3,
  .snip1577.hover h3 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .snip1577:hover h4,
  .snip1577.hover h4 {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
  }
  
  /* .slider {
    --items-per-screen: 6;
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    margin: 0 var(--img-gap);
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
  } */
  
  /* .slider > img {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    aspect-ratio: 16 / 9;
    padding: var(--img-gap);
    border-radius: 1rem;
    cursor:pointer;
  } */
  
  
  .video_card > img{
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: 100%;
    aspect-ratio: 16 / 9;
    padding: var(--img-gap);
    border-radius: 1rem;
    cursor:pointer;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #333333;
    margin: auto;
    padding: 20px;
    border: 1px solid #4d4d4d;
    width: 80%;
    height: 80vh;
  }
  
  #myModal #modal-content .close {
    margin-left: auto;
    cursor: pointer;
  }
  
  .handle {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: transparent;
    z-index: 10;
    margin: var(--img-gap) 0;
    width: var(--handle-size);
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
  }
  
  .left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .handle:hover,
  .handle:focus {
    background-color: rgba(182, 180, 180, 0.5);
  }
  
  .text {
    color: transparent;
    transition: transform 150ms ease-in-out;
  }
  
  .handle:hover .text,
  .handle:focus .text {
    color: white;
    transform: scale(1.2);
  }
  
  .carouselHeader {
    display: flex;
    justify-content: space-between;
    padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
    align-items: center;
  }
  /*   
  .title {
    font-size: 2rem;
    margin: 0;
  } */
  
  .carousel-progress-bar {
    display: flex;
    gap: .25rem;
  }
  
  .progress-item {
    flex: 0 0 1.5rem;
    min-width: 1.5rem;
    height: .5rem;
    background-color: rgba(255, 255, 255, .5);
  }
  
  .progress-item.active {
    background-color: rgba(255, 255, 255, .9);
  }
  
  .btn_explore {
    /* width: 200px; */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    position: relative;
    background-color: transparent;
    color: #fafafa;
    transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 1;
    margin: 0;
  }
  
  .btn_explore::after {
    content: '';
    border-bottom: 3px double rgb(214, 207, 113);
    width: 0;
    height: 100%;
    position: absolute;
    margin-top: -5px;
    top: 0;
    left: 5px;
    visibility: hidden;
    opacity: 1;
    transition: .2s linear;
  }
  
  .btn_explore .icon_explore {
    transform: translateX(0%);
    transition: .2s linear;
    animation: attention 2s linear infinite;
  }
  
  .btn_explore:hover::after {
    visibility: visible;
    opacity: 0.7;
    width: 90%;
  }
  
  .btn_explore:hover {
    letter-spacing: 2px;
    opacity: 0.6;
  }
  
  .btn_explore:hover > .icon_explore {
    transform: translateX(30%);
    animation: none;
  }
  
  @keyframes attention {
    0% {
      transform: translateX(0%);
    }
  
    50% {
      transform: translateX(30%);
    }
  }
  
  @media (max-width: 1000px) {
    .slider {
      --items-per-screen: 3;
    }
  }
  
  @media (max-width: 500px) {
    .slider {
      --items-per-screen: 2;
    }
  }
  
  body {
    background-color: #333;
    color: white;
  }