{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>chimedAi</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- 기타 CSS 파일들 -->
    <style>
        .profile-img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    {% include 'header/header.html' %}
    <div class="container">
        <h1>Profile</h1>
        <div class="row">
            <div class="col-md-4">
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-img">
                <h3>{{ user.username }}</h3>
                <p>Email: {{ user.email }}</p>
                <p>First Name: {{ user.first_name }}</p>
                <p>Last Name: {{ user.last_name }}</p>
                <!-- 기타 프로필 정보 표시 -->
                <a href="" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>

    <!-- 기타 JavaScript 파일들 -->
    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
