<!DOCTYPE html>
<html>
<head>
    <title>YouTube Style</title>
    <!-- Bootstrap CSS 파일 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- 네비게이션 바 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">My Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Channels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- 콘텐츠 영역 -->
    <div class="container mt-4">
        <!-- 비디오 리스트 -->
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="thumbnail1.jpg" class="card-img-top" alt="Video Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Video Title 1</h5>
                        <p class="card-text">Video description goes here.</p>
                        <a href="#" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="thumbnail2.jpg" class="card-img-top" alt="Video Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Video Title 2</h5>
                        <p class="card-text">Video description goes here.</p>
                        <a href="#" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            </div>
            <!-- 추가 비디오 카드 -->
        </div>
    </div>

    <!-- Bootstrap JavaScript 파일 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
